<div class="login">
  <div class="fondo">
    <div class="logo">
      <img class="logo-img" src="assets/img/logo2.svg" alt="logo" />
    </div>

    <div class="cajaInfo">
      <p>
        Información y noticias para los alumnos del IES Gran Capitán
      </p>
    </div>

    <div class="boton">
      <button class="waves-effect waves-light btn blue darken-3" (click)="saltarPopUp()"><img
          src="assets/img/google.png">&nbsp;&nbsp;&nbsp;&nbsp;<div>Iniciar Sesión</div></button>
    </div>
    <!-- Modal Trigger -->
    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
