.btn-facebook, .btn-google, .btn-twitter{
  width:32%;
}
.btn-facebook{
  background: #3b5998;
  color: #fff;
}
.btn-google{
  background: #1565C0;
  color:#fff;
}

.btn-twitter{
  background: #55acee;
  color:#fff;
}

#banner{
  width: 100%;
  height: 8vh;
  background-color: #1565C0;
  background-size:  22%;
  background-position: 97%;
  background-repeat: no-repeat;
  background-image: url('src/assets/img/logo3.png');
}

.material-icons{
  color: white;
  position: 8%;
  font-size: 45px;
  margin: 0.2em;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  text-align: center;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1em;
  border: 0.5px solid gray;
  }



.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  font-size: 36px;
  display: block
}

#shikobaIcono{
  width: 50%;
  display: block;
  margin: 0 auto;
}

#contendor1{
  display: block;
}

.nombreAlumno{
  color: #1565C0;
  text-shadow: 1px 1px 1px gray;
  text-align: center;
}

.puntos{
  text-align: center;
}

.pulse {
  display: inline;
  border-radius: 50%;
  background: #dc3545;
  z-index: -1;
  padding: 0px 10px 0px 9px;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
